services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: php
    expose:
      - "9000"
  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    container_name: nginx
    ports:
      - "8080:80"
    depends_on:
      - php
