/* * {
  outline: 1px solid red;
} */

body {
  max-width: 1960px;
  /* height: 100vh; */
  margin: 0;
  font-family: 'Brush Script MT', cursive;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 1rem;
  color: #ff0055;
  margin-left: 1rem;
}

h2 {
  font-size: 1rem;
}

.header {
	display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0.6rem 2rem;
  flex-wrap: wrap;
  color: white;
}

.header, footer {
    background-color: #180c72;
}

.nav-bar-right, .nav-bar-left {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 2 auto;
  width: 100%;
  background-color: aquamarine;
  /* border: 1rem;
  border-color: #5a0308; */
  /* border-radius: 50%; */
  flex-wrap: wrap;
}

.avatar-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 10rem;
  width: auto;
  border-radius: 50%;
  margin: 1rem;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stats .text-rectangle {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-direction: row;
}

.match-history {
  width: 60%;
  background-color: #e55940;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 1rem;
  padding: 1rem 2rem;
  flex: 1;
}

.text-rectangle {
    width: 100%;
    border-radius: 15px;
    border: 4px bold black;
    display: flex;
    justify-content: start;
    color: black;
    position: relative;
  }

  .match-history .text-rectangle {
    /* flex column */
    /* align-items: center;
    align-items: start; */
    flex-direction: column;

    /* Column with wrap */
    /* flex-wrap: wrap; */
}

.match-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.match-item > div {
  color: black;
}

.match-stats {
  padding-left: 2rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
